@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

.about-page {
    overflow-y: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    max-width: 90vw;
    background-color: #69330d;
    border-radius: 6px;
  }
  
  .about-text {
    flex: 1;
    max-width: 55%;
    text-align: left;
    align-self: flex-start;
    font-family: 'Josefin Sans', sans-serif;
    color:rgba(255, 244, 230, 0.884)
  }
  
  .about-text h3 {
    font-size: 0.95em;
    text-decoration: underline;
    border-radius: 2px;
    padding: 4px;
  }
  
  .about-text p {
    font-size: .75em;
    line-height: 1.5;
    border-radius: 2px;
    padding: 4px;
  }
  
  .about-image {
    margin-top: 10px;
    margin-left: 10px;
    flex: 1;
    width: min(30%, 300px);
    height: 700px;
    background-image: url('/src/assets/brayton-1.jpg');
    background-size: cover;
    background-position: center;
  }