html, body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif; 
  box-sizing: border-box;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header, .footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.navbar {
  background-color: #222;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
}

body.background-visible {
  background-image: url('/src/assets/landing-page-image.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
}

.background-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
